<%= form_for(@timesheet) do |f| %>
  <% if @timesheet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@timesheet.errors.count, "error") %> prohibited this timesheet from being saved:</h2>

      <ul>
      <% @timesheet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <input type="hidden" name="timesheet[employee_id]" value="<%=@employee.id%>"> 
  <div class="field">
    <%= f.label :project_id %><%= select(:timesheet, :project_id, @projects_array) %>
  </div>
  <div class="field">
    <%= f.label :workdate %><%= f.date_select :workdate %>
  </div>
  <div class="field">
    <%= f.label :workstart %><%= f.time_select :workstart %>
  </div>
  <div class="field">
    <%= f.label :workend %><%= f.time_select :workend %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
