<p id="notice"><%= notice %></p>

<p>
  <b>Employee:</b>
  <%= @timesheet.employee_id %>
</p>

<p>
  <b>Project:</b>
  <%= @timesheet.project_id %>
</p>

<p>
  <b>Workdate:</b>
  <%= @timesheet.workdate %>
</p>

<p>
  <b>Workstart:</b>
  <%= @timesheet.workstart %>
</p>

<p>
  <b>Workend:</b>
  <%= @timesheet.workend %>
</p>

<p>
  <b>Approved:</b>
  <%= @timesheet.approved %>
</p>


<%= link_to 'Edit', edit_timesheet_path(@timesheet) %> |
<%= link_to 'Back', timesheets_path %>
