<!DOCTYPE html>
<html>
<head>
  <title>TimesheetsApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
   <div class="navbar-inner"> 
         <a class="brand" href="/" style="font-size: 27px; font-weight: bold; font-family: Tahoma,Serif;">&nbsp;&nbsp;&nbsp;COGNIZANT TIMESHEETS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
         <div class="nav-collapse collapse">
           <ul class="nav pull-right">
              <li><a href="/login" title="Login" style="font-size: 20px;"><i class="icon-off icon-white"></i> Login</a></li>
              <li><a href="/projects" title="Projects" style="font-size: 20px;"><i class="icon-book icon-white"></i> Projects</a></li>
              <li><a href="/employees" title="Employees" style="font-size: 20px;"><i class="icon-user icon-white"></i> Employees</a></li>
              <li><a href="/employees/new" title="New Employees" style="font-size: 20px;"><i class="icon-picture icon-white"></i> New Employee</a></li>
              <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" style="font-size: 20px;"  href="#"><i class="icon-globe icon-white"></i> Admin<b class="caret"></b></span></a>
                  <ul class="dropdown-menu">
                      <li><%= link_to "New Employee", new_employee_path %></a></li>
                      <li><%= link_to "New Project", new_project_path %></a></li>
                  </ul>
              </li>
            </ul>
         </div>   
   </div>
  </div>
<br />
<%= yield %>

</body>
</html>
